#markdown-text-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
#text-field {
    background-color: #c0d8d8;
    border: none;
    resize: vertical;
    width: 590px;
    min-height: 200px;
    padding: 5px;
}