.App {
  background-color: #87b5b5;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
.component-containers {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}